*  {
    margin: 0;
    padding: 2;
    background-color: 003333;
    color:999999 ;  
   }

   body {
        
        background-color: #0E1818;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 10.5px;
        border:1px;
        background-color: 003333;

        }

    footer
    {
       vertical-align:bottom;
       padding-bottom: 1px;

    }
    
    #top
    {
     display: -webkit-flex;
     display: flex;
     display:flexbox;
     display:box;
    -webkit-flex:initial;
    flex:auto;
    max-width:2000px ;
    max-height: 300px;
    vertical-align: top;
    border-radius:8px;
    border :solid  0px #C0C0C0;

    }

    #logo
    {
    display: -webkit-flex;
    display: flex; 
    padding-left:1px;
    max-width: 440px;
    max-height: 230px;

    }

    
    article

   {
    display: webkit-flex;
    border:solid 2px;
    border-color: #C0C0C0;
    border-radius:8px; 
    background-repeat:repeat; 
    width:80px; 
    height:570px;
    background-color: 003333;
    border-style:groove; 
    position:center;
    vertical-align: center;
    padding-left: 2px;

    }
     
     h2
     {

         
     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
      padding-left: 15px;

     }

     h3
     {

     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
     padding-left: 6px;

     }

     h4
     {
       font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
      padding-left: 2px;
     text-align: left;

     }
     
     h5
     {

       font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
      padding-left: 3px;
     text-align: left;
     }
    
    h1
    {
      font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
      padding-left: 3px;
     
     

    }




    #container

    {
    display: webkit-flex;
    display: flex;
    border:solid 2px;       
    border-radius:8px; 
    border-color: #C0C0C0;
    width:1100px;
    height:570px;
    background-color: #0E1818;
    border-style:groove; 
    position: center;
    vertical-align:center;
    padding-right: 4px;
     color:999999 ; 
     background-position: center;

    

    }
    #pak
    {
      display: webkit-flex;
      display: flex;
      background-position: center;
      



    }

    #circle
    {
       width:40px;
       height:40px;
       border-radius: 50% 50% 50% 50%;
       
        border-color:003333;
       background-color: 003333;
       border:2px;
       border-color: #C0C0C0;
       border-style:groove; 


    }
    #circle1
    {
      width:40px;
       height:40px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:003333; 
       background-color: 003333;
       border: 2px;
       

    }
     #circle2
    {
      width:30px;
       height:30px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:003333; 
       background-color: 003333;
       border: 2px;
       

    }
     #circle3
    {
       width:30px;
       height:30px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:003333; 
       background-color: 003333;
       border: 2px;
       
    }
    #circle4
    {
       width:30px;
       height:30px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:003333; 
       background-color: 003333;
       border: 2px;
       

    }
     #circle5
    {
      width:30px;
       height:30px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:003333; 
      background-color: 003333;
       border: 2px;
       padding-left: 4px;
       

    }
    #circle6
    {
      width:30px;
      height:30px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       background-color: 003333;
       padding-left: 4px;
       

    }



    #bd 
    {
      
       border :0px;
       border-collapse: collapse;
       border-style:groove;
       

    }
   
   table

   {
    border-spacing: 3px;
    border-radius:12px;
   
    border: 1px;
    
   }

   #resuilt
   {
    display: -webkit-flex;
    display: flex;
    border-radius:5px;
    height:40px;
     width:1100px; 
    border:2px;
    border-color:999999; 
    border-style:groove; 
    position: relative;
    border-bottom-color: CC0000;
   }

   #cell
   {

    display: -webkit-flex;
    display: flex;
    border:3px;
    border-style:groove;
    position: relative;
    border-bottom-color: CC0000;
    border-left-color: CC0000;
    border-top-color:  #00FF00;
    border-right-color: #00FF00; 

   }


 


  


    
   